<h1> Assignment

In [1]:
#Q1 Write a script that prompts the user to enter base and height of the triangle and calculate an area of this triangle (area = 0.5 x b x h).

In [ ]:
#Q2 What character is at index 10 in "Welcome to python" string.

In [ ]:
#Q3 Print character "ome to py" from "Welcome to python" string.

In [ ]:
#Q4 Print character "o pyth" from "Welcome to python" string using negative index

In [ ]:
#Q5     a = "Day1, Day2, Day3, Day4, Day5" split the string at the comma. 
#       OUTPUT:['Day1', 'Day2', 'Day3', 'Day4', 'Day5']

###Q6 Print the following string :

```
Hello welcome to the
21 days of python
```

In [ ]:
#Q7    Print multiplication table of 16

In [ ]:
#Q8 Check if type of '8' ?

In [ ]:
#Q9  Convert the type '64' to int

In [ ]:
#Q10 Python Program to calculate the square root.

In [ ]:
#Q11 Taking kilometers input from the user convert it into meter.