<h1> Dictionary

> Dictionaries are used to store data values in key:value pairs.
A dictionary is a collection which is ordered, changeable and do not allow duplicates.

In [ ]:
#1 Initialization
dct = {}

In [ ]:
#2 Dictionary with data values
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}

In [ ]:
#3 dictionary usage
ID = {
    'first_name':'vinny',
    'last_name':'vayu',
    'age':25,
    'country':'India',
    'is_marred':False,
    'skills':['Python','AI','ML','NLP']
    }

In [ ]:
#4
ID

{'age': 25,
 'country': 'India',
 'first_name': 'vinny',
 'is_marred': False,
 'last_name': 'vayu',
 'skills': ['Python', 'AI', 'ML', 'NLP']}

In [ ]:
#5 Check Length
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
print(len(dct))

4

In [ ]:
#6 print the value
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
print(dct['key1']) 
print(dct['key4'])

value1
value4

In [ ]:
#7 Adding keys and value
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
dct['key5'] = 'value5'

In [ ]:
#8
dct

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': 'value4',
 'key5': 'value5'}

In [ ]:
#9 Updating the keys
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
dct['key1'] = 'value-one'

In [ ]:
#10
dct

{'key1': 'value-one', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [ ]:
#11 Checking keys in dict
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}

True
False

In [ ]:
#12
print('key2' in dct)

In [ ]:
#13
print('key5' in dct)

In [ ]:
#14 removes key1 item
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}

In [2]:
#15
dct.pop('key1')

'value1'

In [ ]:
#16 Clear Dict
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}

None

In [3]:
#17
dct.clear()

In [4]:
#18
dct

{}

In [ ]:
#19 Delete dict
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
del dct

In [ ]:
#20 Print keys
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
keys = dct.keys()
print(keys)

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [7]:
#21 Print value
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
values = dct.values()
print(values)

dict_values(['value1', 'value2', 'value3', 'value4'])