# 1: Sets

>  Set is a collection of items.Set is a collection of unordered and un-indexed distinct elements. In Python set is used to store unique items, and it is possible to find the union, intersection, difference, symmetric difference, subset, super set and disjoint set among sets.

In [113]:
#1 Initializing Set
st={}

In [114]:
#2 Fill set with values
st = {'car', 'bike', 'motor', 'train'}

In [115]:
#3 Check the length od the string
st = {'car', 'bike', 'motor', 'train'}
len(st)

4

In [116]:
#4 Membership Operation
st = {'car', 'bike', 'motor', 'train'}
'motor' in st

True

In [117]:
#5 Addition of item
st = {'car', 'bike', 'motor', 'train'}
st.add('item5')

In [118]:
#6
st

{'bike', 'car', 'item5', 'motor', 'train'}

In [119]:
#7 Update many item at once in set
st = {'car', 'bike', 'motor', 'train'}
st.update(['item5','item6','item7'])

In [120]:
#8
st

{'bike', 'car', 'item5', 'item6', 'item7', 'motor', 'train'}

In [121]:
#9 Remove specefic item from set
st = {'car', 'bike', 'motor', 'train'}
st.remove('bike')

In [122]:
#10
st

{'car', 'motor', 'train'}

In [123]:
#11 Clear the set
st1 = {'car', 'bike', 'motor', 'train'}
st1.clear()

In [124]:
#12
st

{'car', 'motor', 'train'}

In [125]:
#13
st2 = {'car', 'bike', 'motor', 'train'}
del st2

In [126]:
#14 Convert List to Set
lst = ['car', 'bike', 'motor', 'train', 'car']
st = set(lst)

In [127]:
#15
st

{'bike', 'car', 'motor', 'train'}

In [128]:
#16 Convert Tuple to Set
lst = ('car', 'bike', 'motor', 'train', 'car')
st = set(lst)

In [129]:
#17
st

{'bike', 'car', 'motor', 'train'}

In [130]:
#18 Convert Set to List
lst = {'car', 'bike', 'motor', 'train', 'car'}
st = list(lst)

In [131]:
#19
st

['train', 'motor', 'bike', 'car']

In [132]:
#20 Convert Set to Tuple
lst = {'car', 'bike', 'motor', 'train', 'car'}
st = tuple(lst)  # {'bike', 'train', 'car', 'motor'} - the order is random, because sets in general are unordered

In [133]:
#21
st

('train', 'motor', 'bike', 'car')