# Set - Advance Operation

In [1]:
#1 Set Union Operation
st1 = {'A', 'B', 'C', 'D'}
st2 = {'E', 'F', 'G', 'H'}
st3 = st1.union(st2)

In [2]:
#2
st3

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'}

In [3]:
#3 Set Update Operation
st1 = {'A', 'B', 'C', 'D'}
st2 = {'E', 'F', 'G', 'H'}
st1.update(st2)

In [4]:
#4
st1

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'}

In [5]:
#5 Set Intersection
st1 = {'A', 'B', 'C', 'D'}
st2 = {'C', 'B'}
st3=st1.intersection(st2)

In [6]:
#6
st3

{'B', 'C'}

In [7]:
#7 Set Subset & Superset
st1 = {'A', 'B', 'C', 'D'}
st2 = {'B', 'C'}

In [8]:
#8
st2.issubset(st1)

True

In [9]:
#9
st1.issuperset(st2)

True

In [10]:
#10 Set Difference
st1 = {'A', 'B', 'C', 'D'}
st2 = {'B', 'C'}

In [11]:
#11
st2.difference(st1)

set()

In [12]:
#12
st1.difference(st2)

{'A', 'D'}

In [13]:
#13 Set Symmetric Difference
st1 = {'A', 'B', 'C', 'D'}
st2 = {'B', 'C'}

In [14]:
#14
st2.symmetric_difference(st1)

{'A', 'D'}

In [15]:
#15 Set Disjoint
st1 = {'A', 'B', 'C', 'D'}
st2 = {'B', 'C'}

In [16]:
#16
st2.isdisjoint(st1)

False