### 1: Reverse a list in Python

   Input :

          list1 = [50,60,70,80,90]

   Output : 

          list1 = [90,80,70,60,50]

In [20]:
list1 = [50,60,70,80,90]
list1.reverse()
list1

[90, 80, 70, 60, 50]

### 2: Concatenate two lists 

Input : 

       list1 =["hello","My","name"]
       list2 =["python","bot"] 

Output :

       list3=["hello","My","name","python","bot"]

In [22]:
list1 =["hello","My","name"]
list2 =["python","bot"]
list3=list1+list2
list3

['hello', 'My', 'name', 'python', 'bot']

### 3: Remove empty strings from the list of strings

Input : 

       list1 = ["Hi", "", "Hello", "How", "", "Good"] 

Output :

       list1 = ["Hi", "Hello", "How", "Good"]

In [29]:
   list1 = ["Hi", "", "Hello", "How", "", "Good"] 
   list1.remove("")
   list1.remove("")
   list1

['Hi', 'Hello', 'How', 'Good']

### 4: Access the substring from the list of strings

Input : 

       list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Output :

       list1 = ["f", "g"]

In [33]:
   list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
   list1[2][1][2]

['f', 'g']

### 5: Add "D" in below input string
Input : 

       list1 = ["A","B","C","E","F"]
Output :

       list1 = ["A","B","C","D","E","F"]

In [35]:
list1 = ["A","B","C","E","F"]
list1.insert(3,"D")
list1

['A', 'B', 'C', 'D', 'E', 'F']

### 6: Write a program to get the maximum number from a list.
Input : 

       list1 = [45,67,89,34,65,90]
Output :

       90

In [36]:
 list1 = [45,67,89,34,65,90]
max(list1)

90

### 7: Write a program to get the Average number from a list.
Input : 

       list1 = [45,67,89,34,65,90]
Output :

       65

In [39]:
sum(list1)/len(list1)

65.0

### 8: Write a program to add 'you'in a list.
Input : 

       list1 = ['hello', 'how', 'are']

Output :

       list1 = ['hello', 'how', 'are','you']

In [40]:
list1 = ['hello', 'how', 'are']
list1.append('you')
list1

['hello', 'how', 'are', 'you']

### 9: Write a program to replace 'how' with 'hi' from a list.
Input : 

       list1 = ['hello', 'how', 'are']

Output :

       list1 = ['hello', 'hi', 'are']

In [47]:
list1 = ['hello', 'how', 'are']
list1[1]='hi'
list1

['hello', 'hi', 'are']

### 10: Write a program to add list with a list.
Input : 

       list1 = ['hello', 'how']

Output :

       list1 = ['hello', 'hi', [1,2]]

In [49]:
 list1 = ['hello', 'how']
 list1.append([1,2])
 list1

['hello', 'how', [1, 2]]

### 11: Write a program to check good is present in current list.
Input : 

       list1 = ['hello', 'how','are','you']

Output :

       False

In [50]:
  list1 = ['hello', 'how','are','you']
  print('good' in list1)

False