# 1: Tuple

> 
A tuple is a data types which is ordered and immutable. Tuples indicate with ().

> Tuple Operation:

1.   tuple(): to create an empty tuple
2.   count(): to count the number of a specified item in a tuple
3.   index(): to find the index of a specified item in a tuple
4.   operator: to join two or more tuples and to create a new tuple

In [1]:
#1 Initiating the empty tuple
a =()

In [4]:
#2 Fill the tuple with value
a = ('car', 'bike','train')

In [5]:
#3
a

('car', 'bike', 'train')

In [7]:
#4 Check the type of the data structure
type(a)

tuple

In [8]:
#5 Check the length of the tuple
len(a)

3

In [9]:
#6 Accessing the item using index
a[0]

'car'

In [10]:
#7
a[1]

'bike'

In [11]:
#8
a[2]

'train'

In [12]:
#9 Negative Indexing
a[-1]

'train'

In [13]:
#10
a[-2]

'bike'

In [14]:
#11
a[-2]

'bike'

In [15]:
#12 tuple slicing
a[1:3]

('bike', 'train')

In [17]:
#13 tuple negative slicing 
a[::-1]

('train', 'bike', 'car')

In [18]:
#14 membership operation
'bike' in a

True

In [19]:
#15
'plane' in a

False

In [20]:
#16 Changing tuple to list
b=("hi","hello","how","are","you")
lst=list(b)

In [21]:
#17
list

list

In [24]:
#18 List to Tuple conversion
c=["hi","hello","how","are","you"]
tpl=tuple(c)

In [25]:
#19
tpl

('hi', 'hello', 'how', 'are', 'you')

In [31]:
#20 Add two tuple
tpl1 = ('item1', 'item2', 'item3')
tpl2 = ('item4', 'item5','item6')
tpl3 = tpl1 + tpl2

In [32]:
#21
tpl3

('item1', 'item2', 'item3', 'item4', 'item5', 'item6')

In [36]:
#21 Delete Tuple
tpl4=("Hi","Good","Morning")
del tpl4