<h1> 1 . Python - Strings

In [4]:
print("Python")

Python

In [5]:
print('Python')

Python

In [7]:
print('''Python''')

Python

In [6]:
a = """ There are the example of
        multiline code """
print(a)

 There are the example of
        multiline code

In [9]:
a ='hello"s world'
print(a)

hello"s world

In [10]:
a ="hello's world"
print(a)

hello's world

In [11]:
a = ''' hello's world"s'''
print(a)

 hello's world"s



<h1> 1.2 String Slice

In [13]:
b = "Hello, World!"

'''
    H - 0
    e - 1
    l -3
    l - 4
    o - 5
    , - 6
      - 7
    W - 8
    o - 9
    r - 10
    l - 11
    d - 12
    ! - 13  
'''

llo

In [15]:
print(b[0:9])

Hello, Wo

In [ ]:
print(b[:5])

In [16]:
print(b[1:])

ello, World!

In [21]:
print(b[::-1])

!dlroW ,olleH

In [22]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [23]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [24]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [26]:
a = "Hello, World!"
print(a.replace("W", "K"))

Hello, Korld!

In [27]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [28]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

<h1>Python - Input/Output

1. For Input we use input() and for output we use print() are widely used for standard input and output operations respectively.
2.  We will use input() function to accept input from user and print from python console default it take name as string

In [19]:
#Example 1

num = input('Enter a number: ')

print(num)

Enter a number: 54
54

In [20]:
#Example 2

#Accept Input a & b

a = int(input('Enter a number: '))
b = int(input('Enter b number: '))

Enter a number: 4
Enter b number: 5

In [15]:
#Arthamatc Operation

add = a + b
sub = a- b

In [16]:
#Output 1

print('The input value of a is {} and b is {}'.format(a,b))

The value of a is 4 and b is 5

In [21]:
 #Output 2
 '''
    Here after format(a,b,add) the format store 3 values where index 0 store value of a
                                                               index 1 store value of b
                                                               index 2 store value of add  
 '''

 print('{2} is the sum of {0} and {1}'.format(a,b,add))

9 is the sum of 4 and 5